body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.room {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"] {
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.student-container {
    margin-bottom: 40px; /* Add margin between each student's container */
}

.student-name {
    background-color: black; /* Baggrundsfarve */
    color: white; /* Tekstfarve */
    padding: 3px; 
    border-radius: 20px; /* Afrundede hjørner */
    display: inline-block; 
    width: 400px;
    text-align: center;
}

