body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.room {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"] {
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.student-container {
    margin-bottom: 40px; /* Add margin between each student's container */
}

.student-name {
    background-color: black; /* Baggrundsfarve */
    color: white; /* Tekstfarve */
    padding: 3px; 
    border-radius: 20px; /* Afrundede hjørner */
    display: inline-block; 
    width: 400px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 450px;
        margin-left: 70px;
    }

    .student-name {
        padding: 3px; 
        border-radius: 20px; /* Afrundede hjørner */
        display: inline-block; 
        width: 265px;
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 450px;
        margin-left: 70px;
    }

    .student-name {
        padding: 3px; 
        border-radius: 20px; /* Afrundede hjørner */
        display: inline-block; 
        width: 375px;
        text-align: center;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        max-width: 750px;
    }
  }

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
  }

@media only screen and (min-width: 1500px) {
    .container {
        max-width: 1200px;
    }
  }