.container {
    padding-top: 20px;
}

.panel-info {
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.panel-heading {
    background-color: #000000;
    color: #fff;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.panel-title {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.panel-body {
    padding: 20px;
}

.table-user-information td {
    border-top: 0;
}

.text-right {
    text-align: right;
}

/* Update Information Button */
.custom-btn-primary,
.custom-btn-danger {
    border-radius: 20px;
    background-color: transparent;
    color: #000000;
    border: none;
    font-size: 1.5em;
    transition: transform 0.2s ease-in-out;
}

.custom-btn-primary {
    font-size: 1.7em;
}

.custom-btn-primary:hover {
    color: #000000;
}

.custom-btn-primary:hover,
.custom-btn-danger:hover {
    background-color: transparent;
    border: none;
    transform: scale(1.1);
}

.custom-btn-danger:hover {
    color: red;
}

.custom-btn-danger .bi {
    transition: transform 0.2s ease-in-out;
}

.custom-btn-primary:hover,
.custom-btn-danger:hover,
.custom-btn-primary:focus,
.custom-btn-danger:focus {
    opacity: 1;
}

.custom-btn-primary:focus,
.custom-btn-danger:focus {
    outline: none; /* Remove blue outline when focused */
    background-color: transparent;
}

}