table { 
    border-collapse: collapse; 
    width: 85%; 
    margin-left: 10%;
} 
th, td { 
    border: 1px solid black; 
    padding: 8px; 
    text-align: center; 
} 
th { /* området hvor der står dage og timer osv*/
    background-color: #000000; 
    color: white;
} 
td { 
    border: 1px solid black; 
    padding: 8px; 
    text-align: center; 
    white-space: nowrap; /* Tilføjet for at forhindre linjeskift */ 
    overflow: hidden; /* Tilføjet for at skjule overskydende tekst */ 
    max-width: 0; /* Tilføjet for at sikre, at teksten ikke gør cellen større */ 
}
