/* usersstyles.css */

/* Style the table */
table {
    width: 95%; /* Reduce width to fit within the screen */
    margin: 20px auto; /* Center the table horizontally and provide some top margin */
    border-collapse: collapse;
    margin-left: 5%;
}

/* Style table headers */
th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    padding-left: 4%;
}

/* Style table data cells */
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    padding-left: 4%;
}

/* Style table rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style delete button */
.delete-btn {
    background-color: transparent; /* Make background transparent */
    border: none; /* Remove border */
}

/* Style delete button icon */
.delete-btn i {
    color: #000000; /* Set icon color */
    font-size: 1.5rem; /* Adjust icon size */
}

/* Change icon color on hover */
.delete-btn:hover i {
    color: #ff0000;
}

/* Scale up the button on hover */
.delete-btn:hover {
    transform: scale(1.1); /* Scale up by 10% */
}

.delete-btn::after {
    content: attr(data-tooltip); /* Display the data-tooltip attribute as content */
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease;
    font-size: 14px;
    white-space: nowrap;
}

/* Show tooltip on hover */
.delete-btn:hover::after {
    opacity: 1;
}
